@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zhi+Mang+Xing&display=swap');

* {
    box-sizing: border-box;
    border-top-color: #559972;
    border-bottom-color: #559972;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: rgb(34,88,84);
    background: linear-gradient(90deg, rgba(34,88,84,1) 10%, rgba(85,153,114,1) 20%, rgba(135,195,143,1) 30%, rgba(190,218,165,1) 35%, rgba(244,240,187,1) 50%, rgba(190,218,165,1) 65%, rgba(135,195,143,1) 70%, rgba(85,153,114,1) 80%, rgba(34,88,84,1) 90%);
    text-size-adjust: auto;
}

#main {
    max-width: 900px;
    margin: auto;
    
}

h1, h2, h3, h4 , p{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background:#87C38F;
}

h1 {
    font-size: 3.5em;
    text-shadow: 1px 1px 2px #ffffff, 0 0 1em #225854, 0 0 0.2em #225854;
}

#chinese-title {
    font-family: 'Zhi Mang Xing', cursive;
    font-size: 5em;
    padding-top:20px;
    padding-bottom: 0px;
}

h2 {
    font-size: 1.6rem;
    color: #225854;
    text-shadow: 0px 0px 1px #000000, 0 0 1em #559972, 0 0 0.2em #559972;
}

h3 {
    font-size: 1.5rem;
    padding-left: 50px;
    padding-right: 50px;
    color: #225854;
    text-shadow: 0px 0px 1px #000000, 0 0 1em #559972, 0 0 0.2em #559972;
}


strong {
    background: #87C38F;
}

a {
    background: #87C38F;
}

.title-container {
    background: #87C38F;
}

section {
    background: #87C38F;
}

#list-header {
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.6em;
}


/* image start */
figure {
    display: grid;
    background: #87C38F;
}
#img-div {
    max-width: 90%;
    height: auto;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 10px;
    background: #87C38F;
 }

 
 #img-div-caption {
    margin-top: 5px;
    margin-bottom: 25px;
    font-size: 1.5em;
    text-align: center;
    color: #BEDAA5;
    text-shadow: 0px 0px 1px #000000, 0 0 1em #274735, 0 0 0.2em #37644b;
    background: #87C38F;
 
 }

 #img-laozi {
    max-width: 350px;
    height: auto;
    padding-left: 15px;
    padding-right: 25px;
    padding-top: 10px;
    background: #87C38F;
    vertical-align: text-top;
 }
 
#img-laozi-caption {
    font-size: 1.5em;
    text-align:center;
    color: #BEDAA5;
    text-shadow: 0px 0px 1px #000000, 0 0 1em #274735, 0 0 0.2em #37644b;
    background: #87C38F;
    margin-top: 50px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 10px;
}
 
     


/* image end */

/* table start */

#tribute-container-left {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 20px;
    background: #87C38F;
    max-width: 525px;
}

#tribute-container-right {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    background: #87C38F;
}

ul {
    margin-left: auto;
    margin-right:auto;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #87C38F;
}

li {
    background: #87C38F;
}

.tribute-list-box {
    display: flex;
}

.tribute-list {
    display: column;
    background: #87C38F;
}


.tribute-container {
    display: flex;
    max-width: 900px;
    height: auto;
    background: #87C38F;
}

#tribute-list-box-right {
    max-width:400px;
    flex-direction: column;
}

/* table end */
