* {
    box-sizing: border-box;
    border-top-color: #559972;
    border-bottom-color: #559972;
    margin: 0;
    background: rgb(34,88,84);
    background: linear-gradient(90deg, rgba(34,88,84,1) 10%, rgba(85,153,114,1) 20%, rgba(135,195,143,1) 30%, rgba(190,218,165,1) 35%, rgba(244,240,187,1) 50%, rgba(190,218,165,1) 65%, rgba(135,195,143,1) 70%, rgba(85,153,114,1) 80%, rgba(34,88,84,1) 90%);
}

#main {
    max-width: 900px;
    margin: auto;
    
}

h1, h2, h3, h4 , p{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background:#87C38F;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.6rem;
    color: #225854;
}

h3 {
    font-size: 1.5rem;
    padding-left: 50px;
    padding-right: 50px;
    color: #225854;
}

p {
    font-size: 1rem;
}

strong {
    background: #87C38F;
}

a {
    background: #87C38F;
}

#list-header {
    padding-left: 20px;
    padding-right: 20px;
}


/* image start */
figure {
    display: grid;
    background: #87C38F;
}
#img-div {
    max-width: 90%;
    height: auto;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 10px;
    background: #87C38F;
 }

 
 #img-div-caption {
    margin-top: 5px;
    margin-bottom: 25px;
    font-size: 1rem;
    text-align: center;
    color: #BEDAA5;
    background: #87C38F;
 
 }

 #img-laozi {
     max-width: 350px;
     height: auto;
     padding-left: 15px;
     padding-right: 25px;
     padding-top: 55px;
     background: #87C38F;

 }
 
#img-laozi-caption {
    margin: 0px;
    font-size: 1.5rem;
    text-align: center;
    color: #F4F0BB;
    height: 250px;
    text-wrap: balance;
}
 
     


/* image end */

/* table start */

#tribute-container-left {
    padding-top: 20px;
    background: #87C38F;
}


ul {
    margin-left: auto;
    margin-right:auto;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #87C38F;
}

li {
    background: #87C38F;
}

.tribute-list-box {
    display: flex;
}

.tribute-list {
    display:grid;
}

.tribute-container {
    display: flex;
    max-width: 900px;
    height: auto;

}

#tribute-list-box-left {
    margin-top: 10px;
    margin-right: 5px;
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

#tribute-list-box-right {
    max-width:400px;
    flex-direction: column;
}

/* table end */
